body {
    background: #000000;
    color: #e5e7eb;
    font-family: Bahnschrift;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}

h1{
    text-shadow: 1px 1px 10px azure;
}